.messages-list hr {
    margin: 15px 0 15px 0;
}

.message-card {
    display: flex;
    cursor: pointer;

}

.arrow-right {
    width: 26px;
    height: 26px;
    margin: 17px;
}

.messages-texts {
    width: 70%;
    display: block;
    margin: 7px 7px 7px 20px;
}

.messages-texts p{
    margin: 0;
}

.message-card .messages-profile-pic {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.message-username {
    font-weight: bold;
}


